@using WebOfficeRental.Models
@model MemuVM

@{
    ViewBag.Title = "Thêm mới menu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section PageTitleHeader {
    <div class="page-header">
        <h3><i class="fa fa-bars fa-2x fa-color-red"></i> @ViewBag.Title</h3>
    </div>
    @if (TempData["Updated"] != null)
    {
        <div class="alert alert-success alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @Html.Raw(TempData["Updated"])
        </div>       
    }
    @if (TempData["Errored"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            @Html.Raw(TempData["Errored"])
        </div>
    }
}

@* form_add_new_menu *@
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Vui lòng nhập đầy đủ các trường có dấu <span class="color-red">(*)</span></h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("AddNewMenu", "Menus", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", role = "form", @id = "add-new-menu" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.menu_name, htmlAttributes: new { @class = "control-label col-md-2 required-after" }) 
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.menu_name, htmlAttributes: new { @class = "form-control", placeholder = "Nhập tên menu" })
                            @Html.ValidationMessageFor(model => model.menu_name, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.menu_url, htmlAttributes: new { @class = "control-label col-md-2 required-after" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.menu_url, htmlAttributes: new { @class = "form-control", placeholder = "Link menu" })
                            @Html.ValidationMessageFor(model => model.menu_url, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.menu_parent_id, htmlAttributes: new { @class = "control-label col-md-2 required-after" })
                        <div class="col-md-8">
                            @Html.HiddenFor(m=>m.menu_parent_id)
                            @{ Html.RenderAction("_lstmenutopPartial", "Menus"); }
                            @Html.ValidationMessageFor(model => model.menu_parent_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.menu_position, htmlAttributes: new { @class = "control-label col-md-2 required-after" })
                        <div class="col-md-8">
                            @if (ViewBag.lstPoMn != null)
                            {
                                @Html.DropDownListFor(m => m.menu_position, new SelectList(ViewBag.lstPoMn, "Value", "Text"), "-Chọn vị trí menu-", new { @class = "form-control width-200" })
                            }
                            @Html.ValidationMessageFor(model => model.menu_position, "", new { @class = "text-danger has-error" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.menu_position_index, htmlAttributes: new { @class = "control-label col-md-2 required-after" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.menu_position_index, htmlAttributes: new { @class = "form-control", type = "number", placeholder = "Nhập thứ tự menu" })
                            @Html.ValidationMessageFor(model => model.menu_position_index, "", new { @class = "text-danger has-error" })
                            <span class="help-block">Chọn vị trí menu để tự tính thứ tự menu mới.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button class="btn btn-primary">
                                <i class="fa fa-plus color-white"></i> Thêm mới
                            </button>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        //$.validator.setDefaults({
        //    ignore: []
        //});
       
        $(function () {
            $(document).ready(function () {
                $("#add-new-menu").data("validator").settings.ignore = "";
                // code here this
                $('#menu_parent').on('change', function () {
                    if ($(this).val() !== "") {
                        $('#menu_parent_id').val($(this).val());
                    } else {
                        $('#menu_parent_id').val('');
                    }
                })

                //$('#menu_position').on('change', function () {
                //    if ($(this).val() !== "") {
                //        $('input#menu_position_index').val('');
                //        var _pid = $(this).val();
                //        $.ajax({
                //            url: '/admin/menu/getpositionmenu',
                //            type: "POST",
                //            async: true,
                //            cache: false,
                //            dataType: "json",
                //            data: { pid: _pid },
                //            success: function (data) {
                //                $('input#menu_position_index').val(data);
                //            },
                //            error: function (error) {
                //                console.log('Mất kết nối tới máy chủ');
                //            }
                //        })
                //    }

                //});


            });
        });
    </script>

}