@using WebOfficeRental.Models
@using WebOfficeRental.Helpers
@model List<building>

<!--Properting Listing Wrap Start-->
<section class="kf_property_listing_bg" id="top-toa-nha">
    <div class="container">
        <!--Heading Wrap Start-->
        <div class="kf_heading_1">
            <h3>Tòa nhà văn phòng</h3>
            <span class="kf_property_line"></span>
        </div>
        @Html.Partial("_searchToaNha")
        <!--Heading Wrap End-->
        <!--Property Listing Wrap Start-->
        
        <!--Property Listing Wrap End-->
    </div>
</section>
<!--Properting Listing Wrap End-->

<section class="kf_property_listing_bg" style="padding-top: 0;">
    <div class="container">
        <div class="row">

            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="kf_property_listing_wrap">
                            <figure>
                                <img src="@item.building_picture" alt="@item.bulding_name">
                            </figure>
                            <div class="kf_property_listing_des">
                                <h5><a href="@string.Format("/toa-nha/{0}-{1}", configs.unicodeToNoMark(item.bulding_name), item.bulding_id)">@item.bulding_name</a></h5>
                                <p><i class="fa fa-map-marker"></i>&nbsp;@item.building_address</p>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>
