<!--Advance Search Wrap Start-->

<div class="container">
    <!--Heading Wrap Start-->
    <div class="kf_heading_1">
        <h3>Tìm kiếm</h3>
        <p>Tìm kiếm <a href="/van-phong/van-phong-cho-thue">văn phòng</a> bạn muốn trong 15000 tin đăng uy tín tại đây.</p>
        <span class="kf_property_line"></span>
    </div>
    <!--Heading Wrap End-->
    <!--Search Form Wrap Start-->
    <div class="kf_advacnce_search_form" style="border-top: 1px solid #c4c4c4; background: #fff;">

        <form id="search_office" action="/search/van-phong" method="get" onsubmit="return validate_search()">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Tên văn phòng</label>
                        <input type="text" name="keyword" id="keyword" placeholder="Nhập từ khóa cần tìm">
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Loại văn phòng</label>
                        <select name="loaivanphong" id="loaivanphong" class="chosen-select" data-placeholder="Chọn loại văn phòng">
                            <option selected="selected" disabled>Chọn loại văn phòng</option>
                            <option value='1'>Văn phòng cho thuê</option>
                            <option value='2'>Văn phòng chọn gói</option>
                            <option value='3'>Phòng họp</option>
                            <option value='4'>Văn phòng ảo</option>
                            <option value='5'>Chỗ ngồi cố định</option>
                        </select>
                    </div>
                </div>
                

                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Tỉnh thành</label>
                        @{Html.RenderAction("LoadSearchTinh", "Home");}
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Quận/huyện/thành phố</label>
                        
                        <select class="chosen-select" name="quan" id="quan" data-placeholder="Chọn quận">
                            <option selected="selected" disabled>Chọn quận</option>

                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Diện tích</label>
                        @*<input type="text" class="amount" readonly>*@
                        @*<span class="amount"></span>
                        <input type="hidden" name="dientich" id="dientich" />
                        <div class="kf_range_slider">
                            <span>0</span>
                            <div class="slider-range"></div>
                            <span>500</span>
                        </div>*@
                        <select class="chosen-select" name="dientich" id="dientich" data-placeholder="Chọn diện tích">
                            <option selected="selected" disabled>Chọn diện tích</option>
                            @for (int i = 0; i <= 5; i += 1)
                            {
                                if (i == 5) { break; }
                                var x1 = i * 100 / 2;
                                var x2 = (i + 1) * 100 / 2;
                                <option value="@string.Format("{0}-{1}", x1, x2)">@string.Format("Từ {0} đến {1} m2", x1, x2)</option>
                            }
                            <option value="tren500m">Trên 500 m2</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Mức giá</label>
                        <select class="chosen-select" name="gia" id="gia" data-placeholder="Chọn mức giá">
                            <option selected="selected" disabled>Chọn mức giá</option>
                            <option value="thoathuan">Thỏa thuận</option>
                            @for (int i = 0; i <= 100; i += 5)
                            {
                                if (i == 100) { break; }
                                <option value="@string.Format("tu-{0}-{1}-trieu", i, i+5)">@string.Format("Từ {0} đến {1} triệu", i, i + 5)</option>
                            }
                            <option value="tren100trieu">Trên 100 triệu</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <label>Tòa nhà</label>
                        @{Html.RenderAction("LoadSearchToaNha", "Home");}
                    </div>
                </div>
                
                
                <div class="col-md-3 col-sm-6">
                    <div class="kf_search_field">
                        <input type="submit" value="Tìm văn phòng">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--Search Form Wrap End-->
</div>

<!--Advance Search Wrap Start-->
<script>


    function validate_search() {
        var v_tinh = $('#tinh').chosen().val();
        var v_quan = $('#quan').chosen().val();
        var v_gia = $('#gia').chosen().val();
        var v_toa_nha = $('#toanha').chosen().val();
        var v_dientich = $('#dientich').chosen().val();
        var v_loaivanphong = $('#loaivanphong').chosen().val();

        //console.log(v_tinh);
        if (document.getElementById("keyword").value === "" && v_tinh === null && v_quan === null && v_gia === null && v_toa_nha === null && v_dientich === null && v_loaivanphong === null) {
            alert('Vui lòng nhập từ khóa tìm kiếm hoặc chọn ít nhất một điều kiện.');
            return false;
        } else {
            return true;
        };
    }

    function getSearchQuan() {
        // Cập nhật giá trị quận mới khi chọn tỉnh
        var tinh = $('#tinh').chosen().val() !== null ? $('#tinh').chosen().val() : "";
        $.ajax({
            url: "/Home/LoadSearchQuan?keyword=" + tinh,
            cache: false
        }).done(function (html) {
            $("#quan").empty().append("<option selected='selected' disabled>Chọn quận</option>" + html);
            $('#quan').chosen().trigger("chosen:updated");
        });
        $('#tinh_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
    }

    //quan

    $.ajax({
        url: "/Home/LoadSearchQuan?keyword=",
        cache: false
    }).done(function (html) {
        $("#quan").append(html);
        $('#quan').chosen().trigger("chosen:updated");
    });

    $(document).ready(function () {

        $('#quan').chosen().change(function () {
            $('#quan_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
        });

        $('#gia').chosen().change(function () {
            $('#gia_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
        });

        $('#toanha').chosen().change(function () {
            $('#toanha_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
        });

        $('#dientich').chosen().change(function () {
            $('#dientich_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
        });

        $('#loaivanphong').chosen().change(function () {
            $('#loaivanphong_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
        })

        @*var values = [0, 500];
        @if (ViewBag.dientich != null)
	    {
		    <text>
                var xyz = '@ViewBag.dientich'; 
                var xzy = xyz.split('-').map(Number);
                values = [xzy[0], xzy[1]];
                console.log(values);
            </text>
	    }*@

        //if ($('.slider-range').length) {
        //    $(".slider-range").slider({
        //        range: true,
        //        min: 0,
        //        max: 500,
        //        values: values,
        //        slide: function (event, ui) {
        //            $(".amount").html(ui.values[0] + "m<sup>2</sup>" + " - " + ui.values[1] + "m<sup>2</sup>");
        //            $('#dientich').val(ui.values[0] + "-" + ui.values[1]);
        //        }
        //    });
        //    $(".amount").html($(".slider-range").slider("values", 0) +
        //      "m<sup>2</sup> - " + $(".slider-range").slider("values", 1) + "m<sup>2</sup>");
        //    $('#dientich').val($(".slider-range").slider("values", 0) +
        //      "-" + $(".slider-range").slider("values", 1));
        //}

    })



</script>