@model PagedList.IPagedList<WebOfficeRental.Models.office>
@using PagedList.Mvc
@using WebOfficeRental.Helpers

@{
    ViewBag.Title = "Tìm kiếm văn phòng";
    if (@ViewBag.keyword != null)
    {
        ViewBag.Title += @ViewBag.keyword;
    }
    if (ViewBag.tinh != null)
    {
        ViewBag.Title += " tỉnh " + ViewBag.tinh;
    }
    if (@ViewBag.quan != null)
    {
        ViewBag.Title += " quận " + ViewBag.quan;
    }
    if (@ViewBag.ngay != null)
    {
        ViewBag.Title += " ngày " + ViewBag.ngay;
    }
    if (@ViewBag.gia != null)
    {
        ViewBag.Title += " giá " + ViewBag.gia;
    }
    if (@ViewBag.loaivanphong != null)
    {
        if (ViewBag.loaivanphong == "1")
        {
            ViewBag.Title += " loại bất động sản văn phòng cho thuê ";
        }
        if (ViewBag.loaivanphong == "2")
        {
            ViewBag.Title += " loại bất động sản Văn phòng trọn gói ";
        }
        if (ViewBag.loaivanphong == "3")
        {
            ViewBag.Title += " loại bất động sản Phòng họp ";
        }
        if (ViewBag.loaivanphong == "4")
        {
            ViewBag.Title += " loại bất động sản Văn phòng ảo ";
        }
        if (ViewBag.loaivanphong == "5")
        {
            ViewBag.Title += " Chỗ ngồi cố định ";
        }        
    }
    if (@ViewBag.toanha != null)
    {
        ViewBag.Title += @ViewBag.toanha;
    }
    if (@ViewBag.dientich != null)
    {
        ViewBag.Title += " diện tích " + ViewBag.dientich;
    }
}

@{
    string url = Request.Url.Authority + HttpContext.Current.Request.RawUrl.ToString();
    if (Request.ServerVariables["HTTPS"] == "on")
    {
        url = "https://" + url;
    }
    else
    {
        url = "http://" + url;
    }
}

@section metatags {
    <meta name="description" content="@Html.Raw(ViewBag.Title)">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="search">
    <meta property="og:url" content="@Html.Raw(url)">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:image" itemprop="thumbnailUrl" content="">
}


@*@section MainBanner {
        <!--Sub Banner Wrap Start-->
        <div class="kf_property_sub_banner">
            <div class="container">
                <div class="kf_sub_banner_hdg">
                    <h3>Tìm kiếm văn phòng</h3>
                </div>
                <div class="kf_property_breadcrumb">
                    <ul>
                        <li><a href="#">Văn phòng</a></li>
                        <li><a href="/search/van-phong" class="bb1_p0_m010">Tìm kiếm văn phòng</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Sub Banner Wrap End-->
    }*@

<div class="kf_advance_search_bg margin_top_zero" id="search_section" style="padding: 10px 0;">
    @Html.Partial("_SectionSearch")
</div>

<!--Property Listing 01 Wrap Start-->
<section class="kf_property_lissting_bg">
    <div class="container">
        <!--Property Meta Wrap Start-->
        <div class="kf_property_meta">
            <h5>
                Số văn phòng: @if (Model != null)
                { <text>@Model.Count</text> }
            </h5>
            <div class="kf_view_type">

                <div class="kf_property_view" style="margin-left: 24px;">
                    <span>Ngày đăng:</span>
                    <select name="ngay" id="ngay" class="chosen_select_no_results">
                        <option selected="selected" disabled>Chọn kiểu sắp xếp</option>
                        <option value="moihon">Mới hơn</option>
                        <option value="cuhon">Cũ hơn</option>
                    </select>
                </div>

                @*<div class="kf_property_view" style="margin-left: 24px;">
                    <span>Loại văn phòng:</span>
                    <select name="loaivanphong" id="loaivanphong" class="chosen_select_no_results">
                        <option selected="selected" disabled>Chọn loại văn phòng</option>
                        <option value='1'>Văn phòng cho thuê</option>
                        <option value='2'>Văn phòng chọn gói</option>
                        <option value='3'>Phòng họp</option>
                        <option value='4'>Văn phòng ảo</option>
                        <option value='5'>Chỗ ngồi cố định</option>
                    </select>
                </div>*@

            </div>

        </div>
        <!--Property Meta Wrap End-->
        <!--Section Wrap Start-->
        <div class="row">
            <!--Property Listing 02 List Wrap Start-->


            <div class="col-md-12">
                @if (Model != null)
                {
                    if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="kf_listing_outer_wrap">
                                <div class="kf_property_img">
                                    <figure>
                                        <img src="@item.office_photo" alt="image">
                                    </figure>
                                </div>
                                <div class="kf_property_place">
                                    <div class="kf_property_caption">
                                        <h5><a href="@string.Format("/van-phong/{0}/{1}-{2}", configs.unicodeToNoMark(@item.building.bulding_name), configs.unicodeToNoMark(@item.office_name), @item.office_id)">@item.office_name</a></h5>
                                        <p>
                                            <i class="fa fa-map-marker"></i>@if (item.office_address != null)
                                            {<text>@item.office_address - </text>}@item.building.building_address
                                        </p>
                                        <p><i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy HH:mm tt}", item.updated_date)</p>
                                    </div>
                                    <h5>
                                        @if (item.office_price_public == -1)
                                        {
                                            <text>Thỏa thuận</text>
                                        }
                                        else
                                        {
                                            <text>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:#,###}", item.office_price_public) <b>đồng.</b></text>
                                        }
                                    </h5>
                                    <ul class="kf_property_dolar">
                                        <li><b>Diện tích: </b><a href="#">@item.office_acreage m<sup>2</sup></a></li>
                                        @*<li><b>Số cửa: </b><a href="#">@item.office_door</a></li>
                                        <li><b>Số bàn ghế: </b><a href="#">@item.office_table</a></li>*@
                                    </ul>
                                    @if (item.OfficeServices.Count > 0)
                                    {
                                        <ul class="kf_property_dolar">
                                            @foreach (var item2 in item.OfficeServices)
                                            {
                                                <li><i class="fa fa-arrows"></i><a href="#">@item2.service.service_name</a></li>
                                            }
                                        </ul>
                                    }

                                    <a class="kf_property_more" href="@string.Format("/van-phong/{0}/{1}-{2}", configs.unicodeToNoMark(@item.building.bulding_name), configs.unicodeToNoMark(@item.office_name), @item.office_id)">Xem chi tiết</a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="kf_listing_outer_wrap">
                            <p>Chưa có văn phòng nào.</p>
                        </div>

                    }
                }


            </div>
            <!--Property Listing 02 List Wrap End-->

        </div>
        <!--Section Wrap End-->
        <!--pagination-container-->
        <div class="row">
            <div class="col-md-12">
                @if (Model != null)
                {
                    @Html.PagedListPager(Model, page => Url.RouteUrl("SearchOffices", new { keyword = ViewBag.keyword, tinh = ViewBag.tinh, quan = ViewBag.quan, ngay = ViewBag.ngay, gia = ViewBag.gia, loaivanphong = ViewBag.loaivanphong, toanha = ViewBag.toanha, dientich = ViewBag.dientich, pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }
            </div>
        </div>
        <!--pagination-container-->
    </div>
</section>
<!--Property Listing 01 Wrap End-->
@* section quảng cáo *@
@{Html.RenderAction("LoadCompnay", "Home");}

@section Scripts {

    <script>
        $(document).ready(function () {
            var ngay = gup('ngay', document.location.href);
            var gia = gup('gia', document.location.href);
            var loaivanphong = gup('loaivanphong', document.location.href);
            var tinh = @if(ViewBag.tinh != null) { <text>"@Html.Raw(ViewBag.tinh)"</text> } else { <text>""</text>};
            var quan = @if(ViewBag.quan != null) { <text>"@Html.Raw(ViewBag.quan)"</text> } else { <text>""</text>};
            var keyword = @if(ViewBag.keyword != null) { <text>"@Html.Raw(ViewBag.keyword)"</text> } else { <text>""</text>};
            var toanha = gup('toanha', document.location.href);
            var dientich = gup('dientich', document.location.href);

            if (ngay !== null) {
                $("#ngay").val(ngay).trigger("chosen:updated");
                $('#ngay_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
            }
            if (gia !== null) {
                $("#gia").val(gia).trigger("chosen:updated");
                $('#gia_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
            }
            if (loaivanphong !== null) {
                $('#loaivanphong').val(loaivanphong).trigger("chosen:updated");
                $('#loaivanphong_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
            }

            if (dientich !== null) {
                $("#dientich").val(dientich).trigger("chosen:updated");
                $('#dientich_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
            }

            if (tinh != "") {
                $('#tinh').val(tinh).trigger("chosen:updated");
                $('#tinh_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
            }

            if (quan != "") {
                $.ajax({
                    url: "/Home/LoadSearchQuan?keyword="+tinh,
                    cache: false
                }).done(function (html) {
                    $('#quan').empty().append("<option selected='selected' disabled>Chọn quận</option>"+html);
                    $('#quan').val(quan).trigger("chosen:updated");
                    //$('#quan').chosen().trigger("chosen:updated");
                    $('#quan_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
                });
            }else if (tinh != ""){
                $.ajax({
                    url: "/Home/LoadSearchQuan?keyword="+tinh,
                    cache: false
                }).done(function (html) {
                    $('#quan').empty().append("<option selected='selected' disabled>Chọn quận</option>"+html);
                    //$('#quan').val(quan).trigger("chosen:updated");
                    $('#quan').chosen().trigger("chosen:updated");
                });
            }

            if (keyword != "") {
                $('#keyword').val(keyword);
            }

            if (toanha != null) {
                $('#toanha').val(toanha).trigger("chosen:updated");
                $('#toanha_chosen').children('a').append('<abbr class="search-choice-close"></abbr>');
            }

            $('#gia').chosen().change(function () {

                var myValues = $('#gia').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'gia', myValues);
                    location.href = url_2;
                }

            })

            $('#toanha').chosen().change(function () {
                var myValues = $('#toanha').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'toanha', myValues);
                    location.href = url_2;
                }

            })

            $('#ngay').chosen().change(function () {
                var myValues = $('#ngay').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'ngay', myValues);
                    location.href = url_2;
                }

            });


            $('#loaivanphong').chosen().change(function () {
                var myValues = $('#loaivanphong').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'loaivanphong', myValues);
                    location.href = url_2;
                }

            })

            $('#tinh').chosen().change(function () {
                var myValues = $('#tinh').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'tinh', myValues);
                    location.href = url_2;
                }

            })

            $('#quan').chosen().change(function () {
                var myValues = $('#quan').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'quan', myValues);
                    location.href = url_2;
                }

            })

            $('#dientich').chosen().change(function () {

                var myValues = $('#dientich').chosen().val();
                if (myValues !== null) {
                    var url_2 = document.location.pathname + addUrlParam(document.location.search, 'dientich', myValues);
                    location.href = url_2;
                }

            })


        })



    </script>
}