@model PagedList.IPagedList<WebOfficeRental.Models.office>
@using PagedList.Mvc
@using WebOfficeRental.Helpers
@{
    ViewBag.Title = "Văn phòng trọn gói";
}

@section metatags {
    <meta name="description" content="@Html.Raw(ViewBag.Title) bất động sản officerental">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="Văn phòng">
    <meta property="og:url" content="http://@Request.Url.Host">
    <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="@Html.Raw(ViewBag.Title) bất động sản officerental @ViewBag.ngay @ViewBag.gia">
    <meta property="og:image" itemprop="thumbnailUrl" content="">
}

@section MainBanner {
    <!--Sub Banner Wrap Start-->
    <div class="kf_property_sub_banner">
        <div class="container">
            <div class="kf_sub_banner_hdg">
                <h3>@Html.Raw(ViewBag.Title)</h3>
            </div>
            <div class="kf_property_breadcrumb">
                <ul>
                    <li><a href="#">Văn phòng</a></li>
                    <li><a href="/van-phong/van-phong-tron-goi" class="bb1_p0_m010">@Html.Raw(ViewBag.Title)</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--Sub Banner Wrap End-->
}

<!--Property Listing 01 Wrap Start-->
<section class="kf_property_lissting_bg">
    <div class="container">
        <!--Property Meta Wrap Start-->
        <div class="kf_property_meta">
            <h5>
                Số văn phòng: @if (Model != null)
                { <text>@Model.Count</text> }
            </h5>
            <div class="kf_view_type">

                <div class="kf_property_view">
                    <span>Mức giá:</span>
                    <select name="gia" id="gia" class="chosen_select_width200">
                        <option selected="selected" disabled>Chọn mức giá</option>
                        <option value="thoathuan">Thỏa thuận</option>
                        @for (int i = 0; i <= 100; i += 5)
                        {
                            <option value="@string.Format("tu-{0}-{1}-trieu", i, i+5)">@string.Format("Từ {0} đến {1} triệu", i, i + 5)</option>
                        }
                    </select>
                    @*<a href="/search/van-phong">Tìm kiếm nâng cao</a>*@
                </div>

                <div class="kf_property_view">
                    <span>Ngày đăng:</span>
                    <select name="ngay" id="ngay" class="chosen_select_width200">
                        <option selected="selected" disabled>Chọn kiểu sắp xếp</option>
                        <option value="moihon">Mới hơn</option>
                        <option value="cuhon">Cũ hơn</option>
                    </select>
                </div>

                @*<div class="kf_property_view">
                        <span>Hiện thị:</span>
                        <i class="fa fa-th-list"></i>
                        <i class="fa fa-th-large"></i>
                    </div>*@

            </div>

        </div>
        <!--Property Meta Wrap End-->
        <!--Section Wrap Start-->
        <div class="row">
            <!--Property Listing 02 List Wrap Start-->


            <div class="col-md-12">
                @if (Model != null)
                {
                    if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class="kf_listing_outer_wrap">
                                <div class="kf_property_img">
                                    <figure>
                                        <img src="@item.office_photo" alt="image">
                                    </figure>
                                </div>
                                <div class="kf_property_place">
                                    <div class="kf_property_caption">
                                        <h5><a href="@string.Format("/van-phong/{0}/{1}-{2}", configs.unicodeToNoMark(@item.building.bulding_name), configs.unicodeToNoMark(@item.office_name), @item.office_id)">@item.office_name</a></h5>
                                        <p>
                                            <i class="fa fa-map-marker"></i>@if (item.office_address != null)
                                            {<text>@item.office_address - </text>}@item.building.building_address
                                        </p>
                                        <p><i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy HH:mm tt}", item.updated_date)</p>
                                    </div>
                                    <h5>
                                        @if (item.office_price_public == -1)
                                        {
                                            <text>Thỏa thuận</text>
                                        }
                                        else
                                        {
                                            <text>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:#,###}", item.office_price_public) <b>đồng.</b></text>
                                        }
                                    </h5>
                                    <ul class="kf_property_dolar">
                                        <li><b>Diện tích: </b><a href="#">@item.office_acreage m<sup>2</sup></a></li>
                                        <li><b>Số cửa: </b><a href="#">@item.office_door</a></li>
                                        <li><b>Số bàn ghế: </b><a href="#">@item.office_table</a></li>
                                    </ul>
                                    @if (item.OfficeServices.Count > 0)
                                    {
                                        <ul class="kf_property_dolar">
                                            @foreach (var item2 in item.OfficeServices)
                                            {
                                                <li><i class="fa fa-arrows"></i><a href="#">@item2.service.service_name</a></li>
                                            }
                                        </ul>
                                    }

                                    <a class="kf_property_more" href="@string.Format("/van-phong/{0}/{1}-{2}", configs.unicodeToNoMark(@item.building.bulding_name), configs.unicodeToNoMark(@item.office_name), @item.office_id)">Xem chi tiết</a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="kf_listing_outer_wrap">
                            <p>Chưa có văn phòng nào.</p>                       
                        </div>

                    }
                }


            </div>
            <!--Property Listing 02 List Wrap End-->

        </div>
        <!--Section Wrap End-->
        <!--pagination-container-->
        <div class="row">
            <div class="col-md-12">
                @if (Model != null)
                {
                    @Html.PagedListPager(Model, page => Url.RouteUrl("SearchOfficeType2", new { ngay = ViewBag.ngay, gia = ViewBag.gia, pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }
            </div>
        </div>
        <!--pagination-container-->
    </div>
</section>
<!--Property Listing 01 Wrap End-->
@* section quảng cáo *@
@{Html.RenderAction("LoadCompnay", "Home");}

@section Scripts {

    <script>
        $(document).ready(function () {
            var ngay = gup('ngay', document.location.href);
            var gia = gup('gia', document.location.href);
            if (ngay !== null) {
                $("#ngay").val(ngay).trigger("chosen:updated");
            }
            if (gia !== null) {
                $("#gia").val(gia).trigger("chosen:updated");
            }

            $('#ngay').chosen().change(function () {
                var myValues = $('#ngay').chosen().val();
                var url_2 = document.location.pathname + addUrlParam(document.location.search, 'ngay', myValues);
                location.href = url_2;
            });

            $('#gia').chosen().change(function () {
                var myValues = $('#gia').chosen().val();
                var url_2 = document.location.pathname + addUrlParam(document.location.search, 'gia', myValues);
                location.href = url_2;
            });

        })



    </script>

}