@using WebOfficeRental.Models;
@using WebOfficeRental.Helpers;
@model office

@{
    ViewBag.Title = @Model.office_name;
}

@Html.Partial("_scriptgoogleapi")


@section metatags {
    <meta name="description" content="Tòa nhà @Model.building.bulding_name cho thuê văn phòng @Model.office_name">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index,follow,noodp">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="officedetail">
    <meta property="og:url" content="http://@Request.Url.Host">
    <meta property="og:title" content="Cho thuê văn phòng @Html.Raw(ViewBag.Title)">
    <meta property="og:description" content="Tòa nhà @Model.building.bulding_name cho thuê văn phòng @Model.office_name">
    <meta property="og:image" itemprop="thumbnailUrl" content="http://@Request.Url.Host/@Model.office_photo">
}

@*@section MainBanner {
        <!--Sub Banner Wrap Start-->
        <div class="kf_property_sub_banner">
            <div class="container">
                <div class="kf_sub_banner_hdg">
                    <h3>@Html.Raw(ViewBag.Title)</h3>
                </div>
                <div class="kf_property_breadcrumb">
                    <ul>
                        <li><a href="#">Tòa nhà</a></li>
                        <li><a href="@HttpContext.Current.Request.Url.AbsolutePath" class="bb1_p0_m010">@Html.Raw(ViewBag.Title)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Sub Banner Wrap End-->
    }*@


<!--Property Detail Wrap Start-->
<section class="kf_property_detail_bg">
    <div class="container">
        <div class="row">
            <!--Property Detail Description Wrap Start-->
            <div class="col-md-9">

                <div class="kf_detail_information">

                    <!--kf_property_detail_uptwon strat-->
                    <div class="kf_property_detail_uptwon">
                        <h3>@Model.office_name</h3>

                        <div class="kf_chitietvanphong">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#ct_ttct" aria-controls="ct_ttct" role="tab" data-toggle="tab">Thông tin chi tiết</a></li>
                                <li role="presentation"><a href="#ct_dichvu" aria-controls="ct_dichvu" role="tab" data-toggle="tab">Dịch vụ văn phòng</a></li>
                                <li role="presentation"><a href="#ct_bando" aria-controls="ct_bando" role="tab" data-toggle="tab">Bản đồ</a></li>
                                <li role="presentation"><a href="#ct_lienhe" aria-controls="ct_lienhe" role="tab" data-toggle="tab">Liên hệ đặt thuê</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="ct_ttct">
                                    <div class="kf_blog_listing_wrap">
                                        <div class="kf_blog_listing_des">
                                            <h5>
                                                Giá thuê
                                                <b>
                                                    @if (Model.office_price_public == -1)
                                                    {
                                                        <text>Thỏa thuận</text>
                                                    }
                                                    else
                                                    {
                                                        <text>@string.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:#,###}", Model.office_price_public) <b>đồng.</b></text>
                                                    }
                                                </b>
                                            </h5>
                                            <ul class="kf_blog_listing_meta">
                                                <li><i class="fa fa-calendar"></i><a href="#">@string.Format("{0:dd-MM-yyyy HH:mm tt}", Model.updated_date)</a></li>
                                                <li><i class="fa fa-map-marker"></i><a href="#">@Model.building.building_address</a></li>
                                                <li><i class="fa fa-phone"></i><a href="tel:@Model.building.building_phonenumber">@Model.building.building_phonenumber</a></li>
                                                <li><i class="fa fa-eye"></i><a href="#">@Model.office_views</a></li>
                                                <li><i class="fa fa-heart-o"></i><a href="#">@Model.office_votes 99 + Like</a></li>
                                            </ul>
                                        </div>
                                        <ul class="kf_listing_slider">
                                            <li>
                                                <figure>
                                                    <img src="@Model.office_photo" alt="@Model.office_name">
                                                </figure>
                                            </li>
                                        </ul>
                                        <div class="kf_blog_listing_pager">
                                            <a data-slide-index="0" href=""><img style="width: 60px; height: 50px;" src="@Model.office_photo" alt="" /></a>
                                        </div>
                                        @Html.Raw(Model.office_other_descriptions)


                                    </div>
                                    <div class="kf_comment_list_wrap">
                                        <h5>Bình luận văn phòng</h5>

                                        <div id="cmt_vaphong">

                                        </div>

                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="ct_dichvu">
                                    <div class="kf_property_detail_Essentail">
                                        <ul>
                                            @foreach (var item in @Model.OfficeServices)
                                            {
                                                <li><a href="#"><i class="fa fa-check-circle"></i>@item.service.service_name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ct_bando">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" name="place" id="place" class="form-control" placeholder="Nhập vị trí của bạn" value="" />

                                        </div>
                                        <div class="col-sm-6">
                                            <div id="map-canvas" style="width: 100%; height: 500px;">
                                                Bản đồ
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                                <div role="tabpanel" class="tab-pane" id="ct_lienhe">
                                    <div class="kf_property_form_lienhe">
                                        <form method="post" name="form_lienhe" id="form_lienhe" class="form-horizontal" action="/Home/LienHe">
                                            <h4>Liên hệ</h4>
                                            <ul style="margin-top: 10px;">
                                                <li style="margin-right: 5px;"><a href="#"><i class="fa fa-map-marker"></i> @Model.building.building_address</a></li>
                                                <li style="margin-right: 5px;"><a href="mailto:@Model.building.building_email"><i class="fa fa-inbox"></i> @Model.building.building_email</a></li>
                                                <li style="margin-right: 5px;"><a href="tel:@Model.building.building_phonenumber"><i class="fa fa-phone"></i> @Model.building.building_phonenumber</a></li>
                                            </ul>

                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Họ và tên: </label>
                                                <div class="col-md-6">
                                                    <input type="text" name="hoten" class="form-control" id="hoten" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Số điện thoại: </label>
                                                <div class="col-md-6">
                                                    <input type="text" name="sodienthoai" class="form-control" id="sodienthoai" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Email: </label>
                                                <div class="col-md-6">
                                                    <input type="email" name="email" class="form-control" id="email" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Tin nhắn: </label>
                                                <div class="col-md-6">
                                                    <textarea rows="10" name="loinhan" class="form-control" id="loinhan" required></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-md-offset-3">
                                                    <button class="btn btn-primary">Gửi liên hệ</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--kf_property_detail_uptwon end-->



                </div>
            </div>
            <!--Property Detail Description Wrap End-->
        </div>
    </div>
</section>
<!--Property Detail Wrap End-->
@section Scripts {
    <script>
        $(document).ready(function () {
            // this is the id of the form
            $("#form_lienhe").submit(function (e) {

                var url = "/Home/LienHe"; // the script where you handle the form input.

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form_lienhe").serialize(), // serializes the form's elements.
                    success: function (data) {
                        if (data === 1) {
                            alert('Tin nhắn đã được gửi thành công tới bên cho thuê.'); // show response from the php script.
                        }
                    }
                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
            
        })

        var myCenter = new google.maps.LatLng(@Model.building.building_latlong);
        var marker = new google.maps.Marker({
            position: myCenter
        });

        function initialize() {
            var mapProp = {
                center: myCenter,
                zoom: 15,
                draggable: true,
                scrollwheel: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                animation: google.maps.Animation.DROP,
            };

            //var request = {
            //    location: myCenter,
            //    radius: '500',
            //    query: 'restaurant'
            //};

            var map = new google.maps.Map(document.getElementById("map-canvas"), mapProp);
            marker.setMap(map);
    
            // add animate when click to position map
            marker.addListener('click', toggleBounce);



        };

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
        

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            initialize();
        });

    </script>

    <script>
        //window.fbAsyncInit = function () {
        //    FB.init({
        //        appId: '1160813953986944',
        //        xfbml: true,
        //        version: 'v2.8'
        //    });
        //};

        //(function (d, s, id) {
        //    var js, fjs = d.getElementsByTagName(s)[0];
        //    if (d.getElementById(id)) { return; }
        //    js = d.createElement(s); js.id = id;
        //    js.src = "//connect.facebook.net/vi_VN/sdk.js";
        //    fjs.parentNode.insertBefore(js, fjs);
        //}(document, 'script', 'facebook-jssdk'));
        console.log(window.location.href);
    </script>








}