@model PagedList.IPagedList<WebOfficeRental.Models.city>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách địa chỉ quận huyện thành phố/Tỉnh thành";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles {
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/admin/vendor/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>@ViewBag.Title <span class="btn btn-primary pull-right" onclick="gotoUrl('@Url.RouteUrl("AdminAddCity")')"><i class="fa fa-plus"></i> Thêm địa chỉ mới</span></h3>
        </div>
        @if (TempData["Deleted"] != null)
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.Raw(TempData["Deleted"])
            </div>
        }

        @if (TempData["Updated"] != null)
        {
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                @Html.Raw(TempData["Updated"])
            </div>
        }

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default box box-primary">
            <div class="panel-heading">
                @using (Html.BeginForm("ListCitys", "Citys", FormMethod.Get, new { @class = "form-inline", role = "form", @id = "search-citys", onsubmit = "return validate()" }))
                {
                    <div class="form-group">
                        <label for="searchQuery" class="control-label">Tìm kiếm: </label>
                        @Html.TextBox("search", "", new { @class = "form-control", placeholder = "Nhập địa chỉ quận huyện", onkeyup = "autosearchmodel();" })
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary"><i class="fa fa-search"></i>Tìm kiếm</button>
                    </div>
                }
            </div>

            <script>
                function validate() {
                    if (document.getElementById("search").value === "") {
                        alert('Vui lòng nhập từ khóa tìm kiếm');
                        return false;
                    } else {
                        return true;
                    };
                }
            </script>

            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table_order_stt" id="table-citys">
                        <thead>
                            <tr>
                                <th class="no-sort" style="width: 50px; text-align: center;">Số TT</th>
                                <th>Quận huyện/thành phố</th>
                                <th>Tỉnh thành</th>
                                <th style="width: 144px;" class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align: center;"></td>
                                            <td>@item.district</td>
                                            <td>
                                               @item.provinces
                                            </td>                                            
                                            <td>
                                                <span class="btn btn-primary" onclick="gotoUrl('@Url.RouteUrl("AdminEditCity", new { id = item.city_id })')"><i class="fa fa-edit"></i> Sửa</span>
                                                <span class="btn btn-danger" onclick="gotoUrl('@Url.RouteUrl("AdminDeleteCity", new { id = item.city_id })')"><i class="fa fa-trash"></i> Xóa</span>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">
                                            Không tìm thấy địa chỉ
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        Không có địa chỉ
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @if (Model != null)
                {
                    @Html.PagedListPager(Model, page => Url.RouteUrl("AdminListCitys", new { search = ViewBag.search, pg = page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script>

        $(document).ready(function () {
            $('#table-citys').DataTable({
                paging: false,
                "oLanguage": {
                    "sEmptyTable": "Không tìm địa chỉ nào.",
                    "sLoadingRecords": "Vui lòng - chờ...",
                    "sSearch": "Tìm kiếm nhanh: ",
                    "sZeroRecords": "Không tìm thấy địa chỉ nào.",
                    "sInfo": ""
                },
                "order": [],
                columnDefs: [
                    { targets: 'no-sort', orderable: false }
                ]
            });
        });

        function autosearchmodel() {
            var keyword = document.getElementById("search").value;
            var urlSearch = '/Citys/getListQuanHuyen?keyword=';
            $('#search').autocomplete({
                source: urlSearch + keyword,
                select: function (event, ui) {
                    //alert(ui.item.value);
                    console.log(ui.item.value);
                    $(event.target).val(ui.item.value);
                    return false;
                },
                minLength: 1
            });
        }

    </script>
}
